<template>
    <div>
        <slot name="title"></slot>
        <input type="text" v-model="data_edit">
        <button @click="$emit('save', data_edit)">Save</button>
        <button @click="$emit('cancel')">Cancel</button>
    </div>
</template>

<script>
export default {
    name: 'EditItem',
    props: {
        edit_items: String
    }, 
    data() {
        return {
            data_edit: ''
        }
    },
    mounted() {
        this.data_edit = this.edit_items
    }
}
</script>
