<template>
    <div style="display:flex;flex-direction:row; justify-content:center;" >
        <slot name="title"></slot>
        <input type="checkbox" @click="$emit('checked',todo.id)">
      <p>{{numberList}}.</p>
      <p>{{todo.message}}</p>
      <p>{{todo.status}}</p>
      <button @click="$emit('editTodo', [todo.id, todo.message])">Edit</button>
      <button @click="$emit('hapusTodo', index)">Hapus</button>
    </div>
</template>

<script>
export default {
 name:'ToDoItem',
 methods: {
     
 },
 props: {
     todo: Object, //bisa require, type dll,
     index: Number
 },
 computed: {
    numberList: function(){
        return this.index + 1;
    }
 },
}
</script>

<style scoped>
button{
    
    height: 25px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 15px
}
p{
    padding: 10px;
    font-size: 20px
}
input{
    margin: 20px;
    height: 50px;
}
</style>

