<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="To Do List"/>
    <input type="text" v-model="inputValue">
    <button @click="addTodo">Add</button>
    
    <p>{{warning}}</p>
    <ToDoItem v-for="(todo, index) in todos" 
    :key="index"
    :todo="todo"
    :index="index"
    v-bind:class="{todoStyle : showStyle}"
    v-on:doneTodo="doneTodo($event)"
    v-on:editTodo="editTodo($event)"
    v-on:checked="checked($event)" 
    v-on:hapusTodo="hapusTodo($event)">
      <p slot="title">Progress</p>
    </ToDoItem>
    
    <EditItem v-if="edit_items" :edit_items="edit_items" v-on:save="save($event)" v-on:cancel="cancel()" >
      <p slot="title">Edit To Do</p>
    </EditItem>
    <DoneItem></DoneItem>
  </div>
  
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import ToDoItem from './components/ToDoItem.vue'
import DoneItem from './components/DoneItem.vue'
import EditItem from './components/EditItem.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    ToDoItem,
    EditItem,
    DoneItem
  },
  data() {
    return {
      new_todo:'',
      edit_items:'',
      edit_id:'',
      inputValue: '',
      todos: [
        { 	id: 1, message: "Belajar", status:""},
        { 	id: 2, message: "Membaca", status:""}
      ],
      warning:'',
      showStyle: true
    }
  },
  methods: {
    checked(id){
      const tmpTodo = this.todos.find(todo => todo.id == id);
      if(tmpTodo.status == 'done'){
        tmpTodo.status = ''
      } else {
        tmpTodo.status = 'done'
      }
    },
    addTodo(){
      var numb = this.todos.slice(-1).pop() ? this.todos.slice(-1).pop().id : 0;      
      // console.log('add todo', this.inputValue)
      this.todos.push({
        id : numb + 1,
        message : this.inputValue,
        status : null
      })
      this.inputValue=''
      // console.log('isi todos:', this.todos)
    },
    editTodo(todos){
      this.edit_items = todos[1];
      this.edit_id = todos[0];
    },
    hapusTodo(index){
      this.todos.splice(index, 1)
    },
    save(data_edit){
			const tmpTodo = this.todos.find(todo => todo.id === this.edit_id);
      tmpTodo.message = data_edit;
      this.edit_items = ''
      console.log(data_edit)
		},
		cancel(){
			this.edit_items = '';
			this.edit_id = '';
		},
  },
  watch: {
    inputValue: function (){
      if(this.inputValue.length > 10){
        this.warning = 'Maksimal 10 Karakter!'
      } else {
        this.warning=''
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.todoStyle{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: black;
}
</style>
